<!-- plantillas/registration/password_change_form.htnl -->
{% extends 'base.html' %}{% load crispy_forms_tags %}

{% block title %}- Cambio de contrasela{% endblock title %}

{% block content %}

    <h2>Cambio de contraseña</h2>
    <p>Por favor introduzca su contrasela anterior.  por razones de seguridad,
        y luego introduzca su nueva contraseña dos veces para poder verificar que la escribió 
        correctamente.</p>
        <div class="registro">
            <div class="registro_contenido">
        <form  method="post">{% csrf_token %}{{ form|crispy }}
            <input class="btn btn-success ml-2" type="submit" value="Cambiar contraseña" style="color: black;">
        </form>
    </div>
</div>
{% endblock content %}