<!-- plantillas/registration/password_reset_confirm.htnl -->
{% extends 'base.html' %}

{% block title %}- Introduzca su nueva contraseña {% endblock title %} 

{% block content %}
    <h1>Establezca su nueva contraseña</h1>
    <div class="registro">
        <div class="registro_contenido">
    <form method="post"> {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success ml-2" type="submit" value="Cambiar mi contraseña" style="color: black;">
    </form>
</div>
</div>
{% endblock content %}