<!-- plantillas/registration/password_reset_form.htnl -->
{% extends 'base.html' %}{% load crispy_forms_tags %}

{% block content %}
    <h1>¿Olvido su contraseña?</h1>
    <p>Introdusca su email abajo, y le enviaremos instrucciones para establecer una nueva contraseña </p>
    <div class="registro">
        <div class="registro_contenido">
    <form method="post"> {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success ml-2" type="submit" value="Enviarme instrucciones" style="color: black;">
    </form>
    </div>
</div>
{% endblock content %}
    