<!-- plantillas/base.html -->
<html>

<head>
  <meta charset="UTF-8">
  <title>Blog Django {% block title %}{% endblock title %}</title>
  <meta name="viewport" content="with=device.width, initial-scale=1, 
      shrink-to-fit=no">
  <!-- CSS BootStrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous"
    rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'inicio' %}">
      Blog Django
    </a>
    <div class="navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Blogs
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'lista_publicaciones' %}">
              Blogs
            </a>
            <a class="dropdown-item" href="{% url 'nueva_publicacion' %}">
              Nuevo
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'password_change' %}">
              Cambiar Contraseña
            </a>
            <a class="dropdown-item" href="{% url 'logout' %}">
              Salir
            </a>
          </div>
        </li>
      </ul>
      {% else %}
      <form class="form-inline ml-auto">
        <a href="{% url 'login' %}" class="btn btn-outline-secondary">
          Acceder
        </a>
        <a href="{% url 'signup' %}" class="btn btn-primary ml-2">
          Registrarse
        </a>
      </form>
      {% endif %}
    </div>
  </nav>
    {% block content %}
    
    {% endblock content %}
  <!-- JavaScript Opcional -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>